/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Your code starts here! */

.container {
    width: 900px;
    margin: 5px auto;
    box-sizing: border-box;
}


/* tablet */

@media (max-width: 800px) {
    .container {
        width: 100%;
        box-sizing: border-box;
    }
}


/* phone */

@media (max-width: 500px) {
    .container {
        width: 100%;
        box-sizing: border-box;
    }
}

nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navi {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.navicon {
    box-sizing: border-box;
    text-decoration: none;
    font-size: 14px;
    padding: 25px;
    margin: auto;
    color: gray;
}


/* tablet */

@media (max-width: 800px) {
    header nav {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .navi {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
}


/* phone*/

@media (max-width: 500px) {
    .navi {
        display: flex;
        flex-direction: column;
    }
    nav {
        display: flex;
        flex-direction: column-reverse;
    }
    .navicon {
        width: 500px;
        border-bottom: 1px solid gray;
        text-align: center;
    }
    .logo {
        width: 100%;
        padding: 15px;
        border-bottom: 1px solid gray;
        display: flex;
        justify-content: space-between;
    }
}

.top {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 5px;
    padding-bottom: 60px;
}


/* tablet */

@media (max-width: 800px) {
    .top {
        width: 95%;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        margin: auto;
    }
}

h1 {
    width: 305px;
    font-size: 75px;
    text-align: center;
    margin: 0px 0pc 0px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle {
    width: 350px;
    display: flex;
    margin: 5px;
}


/* tablet */

@media (max-width: 800px) {
    .circle {
        display: none;
    }
}

.button1 {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    padding-left: 40px;
    padding-top: 20px;
}

.button2 {
    width: 175px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: white;
    border: 1px solid;
    font-size: 15px;
    font-family: sans-serif;
}

article {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;
    padding-bottom: 40px;
}


/* tablet */

@media (max-width: 800px) {
    article {
        display: flex;
        justify-content: center;
    }
}


/* phone*/

@media (max-width: 500px) {
    article {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-top: 1px solid black;
    }
}

.half {
    width: 400px;
    height: 150px;
    padding-top: 40px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}


/* tablet */

@media (max-width: 800px) {
    .half {
        box-sizing: border-box;
        width: 45%;
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        margin: auto;
        text-align: left;
    }
}


/* phone*/

@media (max-width: 500px) {
    .half {
        box-sizing: border-box;
        width: 100%;
        padding-top: 20px;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.half p {
    width: 450px;
    padding: 5px;
}


/* phone*/

@media (max-width: 500px) {
    .half p {
        box-sizing: border-box;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: center;
        align-items: flex-start;
    }
}


/* phone*/

@media (max-width: 500px) {
    h3 {
        box-sizing: border-box;
        margin: auto;
        padding-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-end;
    }
}

.middle-img {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 40px;
}


/* tablet*/

@media (max-width: 800px) {
    .middle-img {
        box-sizing: border-box;
        width: 80%;
        margin: auto;
        padding: 10px;
        justify-content: center;
    }
}


/* phone*/

@media (max-width: 500px) {
    .middle-img {
        box-sizing: border-box;
        width: 60%;
        padding: 10px;
        justify-content: space-around;
    }
}

.three {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}


/* phone*/

@media (max-width: 500px) {
    .three {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.thrice {
    width: 333.33px;
    display: flex;
    padding: 10px;
    padding-bottom: 40px;
    justify-content: space-between;
    align-content: row;
    flex-wrap: wrap;
    /*   margin: 70px; */
}


/* phone*/

@media (max-width: 500px) {
    .thrice {
        width: 100%;
        padding: 20px;
    }
}


/*tablet */

@media (max-width: 800px) {
    .thrice {
        padding: 20px;
    }
}

.copyright {
    text-align: center;
    font-size: 14px;
    padding-bottom: 25px;
}

footer {
    padding-top: 40px;
}


/* tablet */

@media (max-width: 800px) {
    address {
        padding-left: 20px;
        padding-bottom: 40px;
    }
}